@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background-color: rgb(246, 245, 245);
}
nav{
    background-color: white;
    padding: 10px;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: start;
}
nav h1{
    font-size: 24px;
    font-weight: 500;
}
aside{
    background-color: white;
    border-top: 3px solid rgb(246, 245, 245);
    width: 35%;
    height: 92vh;
    overflow-y: auto;
}
aside::-webkit-scrollbar{
    width: 0px;
}
aside header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: royalblue;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}
aside .div{
    margin: 10px 7px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
aside .div .div-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
aside .div .div-header h1{
    font-size: 18px;
    color: #555;
    font-weight: normal;
}
aside .div .div-header h3{
    font-size: 14px;
    color: royalblue;
    font-weight: bold;
}
aside .div .range{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
aside .div .range input{
    width: 90%;
}
aside .div .color{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    justify-content: flex-end;
    width: fit-content;
    align-self: flex-end;
}
aside .div .color input{
    outline: none;
    border: 1px solid #ccc;
}
main{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
main .test{
    width: 250px;
    height: 200px;
    background-color: rgb(65, 145, 225);
    border: 5px solid rgb(36, 80, 224);
}
main .copy{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 950px) {
    aside{
        width: 40%;
    }
    main{
        width: 60%;
    }
}
@media screen and (max-width: 750px) {
    aside{
        width: 50%;
    }
    main{
        width: 50%;
    }
}
@media screen and (max-width: 650px) {
    aside{
        width: 60%;
    }
    main{
        width: 40%;
    }
    main .test{
        width: 160px;
        height: 150px;
    }
}
@media screen and (max-width: 500px) {
    aside{
        width: 100%;
    }
    main{
        width: 100%;
    }
    main .test{
        width: 230px;
        height: 200px;
        margin-bottom: 45px;
    }
    .container{
        flex-direction: column;
        gap: 100px;
    }
}